<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Count of all countries</h2>
                <p>
                    Available countries: <strong><f:count subject="{availableCountries}" /></strong>
                </p>
                <h2>German country information</h2>
                <p>
                    Official name: <strong>{germanCountry.officialName}</strong><br />
                    Alpha 2 Iso Code: <strong>{germanCountry.alpha2IsoCode}</strong><br />
                    Flag: <strong>{germanCountry.flag}</strong><br />
                </p>
                <h2>Filtered countries</h2>
                <p>
                    <f:for each="{selectedCountries}" as="country">
                        {country.officialName} ({country.flag})<br />
                    </f:for>
                </p>
            </div>
        </div>
    </div>
</f:section>
</html>
